html {
    height: 100%;
}
body {
    font-family: 
        /* "SF Pro JP", "SF Pro Text",  */
        "Arial", "Apple TP", "Myriad Set Pro", "SF Pro Icons", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
.flex_center {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#joinScreen {
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
}
#creditBar {
    display: flex;
    width: 100vw;
    padding: 0;
    margin: 0;
    align-items: center;
    list-style: none;
}
#companyLogo {
    display: inline;
    width: 100px;
}
#companyName {
    display: inline;
    font: bold 20px/1 "Arial";
    margin: 0;
    padding: 5px 20px 5px 0;
}
#creditText {
    display: inline;
    padding: 0 20px;
    font: italic 15px/1 "Arial";
}
#AppLogo {
    display: block;
    width: 35vw;
}
.classNameBtn {
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 2px 20px 2px 20px;
    margin: 15px 0;
    font: italic 20px/1 "Arial";
    border: 2px solid #000;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
/* .grade1 {
    background: #c6ffe2;
}
.grade2 {
    background: #ffdbdb;
}
.grade3 {
    background: #dbffff;
} */
#joinBtn {
    display: inline-block;
    width: 100px;
    padding: 10px 0;
    margin: 30px 0;
    font: normal 25px/1 "Arial";
    border: 3px solid #000;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
}
#talkScreen {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    background: #fff;
}
#menuBar {
    /* background: #960000; */
}
#camLabel, #micLabel, #offerBtn {
    display: none;
    width: 100px;
    padding: 5px 0;
    margin: 10px 5px;
    text-align: center;
    font: normal 25px/1 "Arial";
    border: 3px solid #000;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
}
#quitBtn {
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    margin: 10px 5px;
    font: normal 25px/1 "Arial";
    border: 3px solid #000;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
}
#camBtn, #micBtn {
    display: none;
}
.classNameBtn:hover, #joinBtn:hover, #quitBtn:hover, #camLabel:hover, #micLabel:hover, #offerBtn:hover {
    color: #fff;
    background: #000;
}

#remoteVideoBox {
    height: 75vh;
    overflow: hidden;
}

#hostVideo {
    width: 100%;
    clip-path: inset( 0 0 25% 0 round 15px);
    z-index: -1;
    transform: scaleX(-1);
}